<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!--Vue-->
    <script 
        src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"
    ></script>
    <script>
        $(function(){
          $('#nav').load("./common/navbarLearner.php");
          console.log("click");
        });
    </script>

      <style>
          .footer-basic {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding:40px 0;
        background-color:#ffffff;
        color:#4b4c4d;
        }


        .footer-basic .copyright {
         margin-top:15px;
         text-align:center;
         font-size:13px;
         color:#aaa;
         margin-bottom:0;
        }
  </style>

</head>
<body>

    <div id="nav"></div>

    <!-- picture can edit -->
    <br>
    <div class="container" id="app">
       <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">Take Quiz</h6>
        <br>
        <form id="answerForm" action="testsubmit2.php" method="post">
          <h1>{{title}}</h1>
          <h2>Score: {{score}}%</h2>
          <div v-for="(question, index, i) in questions">
                <h2>Q{{index + 1}} {{question.qnText}} </h2>
                  <div v-if = "question.type == 'mcq'">
                      <div v-for="(option, index2, x) in question.options">
                          <h3>Option {{index2 + 1}}: {{option.optText}}</h3>
                      </div>
                  </div>
                  <div v-else-if = "question.type == 'checkbox'">
                      <div v-for="(option, index2, x) in question.options">
                        <h3>Option {{index2 + 1}}: {{option.optText}}</h3>
                      </div>
                  </div>
                
                <h3>Correct answer is {{answers[index].answer}}, your answer was {{responses[index].answer}}</h3>
                <br>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>  

  </div>
  </div>



</body>
<script>
  var app = new Vue({
      el: "#app",
      data: {
          title: "Test Quiz",
          score: "",
          questions: [],
          answers: [],
          responses: []
      },
      created() { // created is a hook that executes as soon as Vue instance is created
        let uri = window.location.href.split('?');
        if(uri.length == 2) {
            let vars = uri[1].split('&');
            let getVars = {};
            let tmp = '';
            vars.forEach(function(v) {
                tmp = v.split('=');
                if(tmp.length == 2)
                getVars[tmp[0]] = tmp[1];
            });
            $courseCode = getVars['coursecode'];
            $courserunID = getVars['courserunid'];
            $sectionID = getVars['sectionID'];
            $learnerID = getVars['learnerID'];
        }
        
        axios.get('./getData/getLatestQuizResult.php?coursecode=' + $courseCode + '&courserunid=' + $courserunID + '&sectionID=' + $sectionID + '&learnerID=' + $learnerID)
        .then(response => {
            // this gets the data, which is an array
            //this.questions = response.data;
            console.log(response.data)
            $responseList = JSON.parse(response.data['Response_List']);
            $questionList = JSON.parse(response.data['Quiz_Question_List']);
            $answersList = JSON.parse(response.data['Quiz_Answer_List']);
            this.score = response.data['Quiz_Score']
            this.title = response.data['Quiz_Title']
            this.questions = $questionList;
            this.responses = $responseList;
            this.answers = $answersList;
            console.log($answersList);
            //console.log(response.data);
            //console.log(response.data['Response_List']);
            //console.log('test')
        })
        .catch(error => {
            this.questions = [{ entry: 'There was an error: ' + error.message }]
            }) 
            
        }
  })


  var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = window.location.search.substring(1),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return typeof sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
        }
    }
    return false;
    };
    
    var courseCode = getUrlParameter('coursecode');
    var courserunID = getUrlParameter('courserunid');
    var sectionID = getUrlParameter('sectionID');
    document.getElementById('answerForm').action = 'postData/addQuizRecord.php?coursecode=' + courseCode + '&courserunid=' + courserunID + '&sectionID=' + sectionID;
    console.log(courseCode);
</script>
 
</html>
