<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!--Vue-->
    <script 
        src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"
    ></script>
    <script>
        $(function(){
          $('#nav').load("./common/navbarLearner.php");
          console.log("click");
        });
    </script>

      <style>
          .footer-basic {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding:40px 0;
        background-color:#ffffff;
        color:#4b4c4d;
        }


        .footer-basic .copyright {
         margin-top:15px;
         text-align:center;
         font-size:13px;
         color:#aaa;
         margin-bottom:0;
        }
  </style>

</head>
<body>

    <div id="nav"></div>

    <!-- picture can edit -->
    <br>
    <div class="container" id="app">
       <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">Take Quiz</h6>
        <br>
        <form id="answerForm" action="testsubmit2.php" method="post">
          <h1>{{title}}</h1>
          <div v-for="question in questions">
              <h2>{{question.qnText}} </h2>
                  <div v-if = "question.type == 'text'">
                      <input type = "text" class="form-control" placeholder="Answer:">
                  </div>
                  <div v-else-if = "question.type == 'mcq'">
                      <div v-for="option in question.options">
                          <input type = "radio" v-bind:name="question.qnNumber" v-bind:id="option.id" v-bind:value="option.value">
                          <label v-bind:for="option.id">{{option.optText}} </label><br>
                      </div>
                  </div>
                  <div v-else-if = "question.type == 'checkbox'">
                      <div v-for="option in question.options">
                          <input type = "checkbox" v-bind:name="question.qnNumber + '[]'" v-bind:id="option.id" v-bind:value="option.value">
                          <label v-bind:for="option.id">{{option.optText}} </label><br>
                      </div>
                  </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>  

  </div>
  </div>



</body>
<script>
  var app = new Vue({
      el: "#app",
      data: {
          title: "Test Quiz",
          questions: [
          {"qnNumber":1,"type":"mcq","qnText":"Q1","options":[{"id":"q1-1","optText":"A1","value":1},{"id":"q1-2","optText":"A2","value":2},{"id":"q1-3","optText":"A3","value":3}]},
          {"qnNumber":2,"type":"checkbox","qnText":"Q2","options":[{"id":"q2-1","optText":"A4","value":1},{"id":"q2-2","optText":"A5","value":2},{"id":"q2-3","optText":"A6","value":3}]}
              ]
      },
      created() { // created is a hook that executes as soon as Vue instance is created
        let uri = window.location.href.split('?');
        if(uri.length == 2) {
            let vars = uri[1].split('&');
            let getVars = {};
            let tmp = '';
            vars.forEach(function(v) {
                tmp = v.split('=');
                if(tmp.length == 2)
                getVars[tmp[0]] = tmp[1];
            });
            $courseCode = getVars['coursecode'];
            $courserunID = getVars['courserunid'];
            $sectionID = getVars['sectionID'];
        }
        
        axios.get('getData/getQuizQuestions.php?coursecode=' + $courseCode + '&courserunid=' + $courserunID + '&sectionID=' + $sectionID)
        .then(response => {
            // this gets the data, which is an array
            this.questions = response.data;
            console.log(response.data);
            console.log('test')
        })
        .catch(error => {
            this.questions = [{ entry: 'There was an error: ' + error.message }]
            })
            
        }
  })
</script>
 
</html>
