<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Progress</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(function(){
          $('#nav').load("./common/navbarLearner.php");
          console.log("click");
        });
    </script>


</head>
<body>

    <div id="nav"></div>

    <br>
    <div class="container">
    <br>
    <div>
      <h6 class="border-bottom border-gray pb-2 mb-0">View Progress</h6>
      <br> 
    </div>
    <!--Course 1 CourseRun 1-->
    <div>
        <h5>Intro to Printer Servicing - Course Run 1</h5>
        <div class="card" >
          <div class="card-header row" >
                <a class="col-6">Section visted: 50<a/>
                <a class="col-3">Completed: 50/50<a/>     
                <label for="progress">100%</label>
                <progress id="progress" max="100" value="100" ></progress>
          </div>
            </div>

           <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>Section 1</b>
                <div class="row" >
                     <a class="col-3">Visted: 50<a/>           
                     <a class="col-3">Quiz Completed: 50<a/>
                     <a class="col-3">Materials Downloaded: 50<a/>
                </div>
              </li>
                
              <li class="list-group-item"><b>Section 2</b>
                <div class="row" >
                     <a class="col-3">Visted: 50<a/>           
                     <a class="col-3">Quiz Completed: 50<a/>
                     <a class="col-3">Materials Downloaded: 50<a/>
                </div>
              </li>
              <li class="list-group-item"><b>Section 3</b>
                <div class="row" >
                     <a class="col-3">Visted: 50<a/>           
                     <a class="col-3">Quiz Completed: 50<a/>
                     <a class="col-3">Materials Downloaded: 50<a/>
                </div>
              </li>
              <br>
          </ul>
        </div>
        
        <!--Course 1 CourseRun 2-->
        <div>
        <h5>Intro to Printer Servicing - Course Run 2</h5>
        <div class="card" >
          <div class="card-header row" >
                <a class="col-6">Section visted: 10<a/>
                <a class="col-3">Completed: 50/50<a/>     
                <label for="progress">20%</label>
                <progress id="progress" max="100" value="20" ></progress>
          </div>
            </div>

           <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>Section 1</b>
                <div class="row" >
                     <a class="col-3">Visted: 10<a/>           
                     <a class="col-3">Quiz Completed: 10<a/>
                     <a class="col-3">Materials Downloaded: 10<a/>
                </div>
              </li>
                
              <li class="list-group-item"><b>Section 2</b>
                <div class="row" >
                     <a class="col-3">Visted: 10<a/>           
                     <a class="col-3">Quiz Completed: 10<a/>
                     <a class="col-3">Materials Downloaded: 10<a/>
                </div>
              </li>
              <li class="list-group-item"><b>Section 3</b>
                <div class="row" >
                     <a class="col-3">Visted: 10<a/>           
                     <a class="col-3">Quiz Completed: 10<a/>
                     <a class="col-3">Materials Downloaded: 10<a/>
                </div>
              </li>
              <br>
          </ul>
        </div>

    </div>



    </div>
</div>

     


</body>

</html>
