<!DOCTYPE html>
<html>
  <html>
    <head>
    <!--Bootstrap, CSS only-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" 
        crossorigin="anonymous">
    <!--JQuery-->
    <script
        src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
        crossorigin="anonymous"
    ></script>
    <!-- JavaScript Bundle with Popper -->
    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" 
        crossorigin="anonymous"
    ></script>
    <!--Vue-->
    <script 
        src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"
    ></script>

    <style>
        body{
            margin: 50px;
        }
    </style>

    <body>
        <div id="app">
            <div class="row">
                <div class="col-6">
                    <form id="answerForm" action="testsubmit2.php" method="post">
                        <h1>{{title}}</h1>
                        <div v-for="question in questions">
                            <h2>{{question.qnText}} </h2>
                                <div v-if = "question.type == 'text'">
                                    <input type = "text" class="form-control" placeholder="Answer:">
                                </div>
                                <div v-else-if = "question.type == 'mcq'">
                                    <div v-for="option in question.options">
                                        <input type = "radio" v-bind:name="question.qnNumber" v-bind:id="option.id" v-bind:value="option.value">
                                        <label v-bind:for="option.id">{{option.optText}} </label><br>
                                    </div>
                                </div>
                                <div v-else-if = "question.type == 'checkbox'">
                                    <div v-for="option in question.options">
                                        <input type = "checkbox" v-bind:name="question.qnNumber + '[]'" v-bind:id="option.id" v-bind:value="option.value">
                                        <label v-bind:for="option.id">{{option.optText}} </label><br>
                                    </div>
                                </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>    
    </body>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                title: "Test Quiz",
                questions: [
                {"qnNumber":1,"type":"mcq","qnText":"Q1","options":[{"id":"q1-1","optText":"A1","value":1},{"id":"q1-2","optText":"A2","value":2},{"id":"q1-3","optText":"A3","value":3}]},
                {"qnNumber":2,"type":"checkbox","qnText":"Q2","options":[{"id":"q2-1","optText":"A4","value":1},{"id":"q2-2","optText":"A5","value":2},{"id":"q2-3","optText":"A6","value":3}]}
                    ]
            }
        })
    </script>



</html>