<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(function(){
          $('#nav').load("./common/navbarTrainer.php");
          console.log("click");
        });
    </script>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

    <div id="nav"></div>
    

    <br>
    <div id="app" class="container">
   

<div class="row"> 
    <div class="col-4">
           <div class="col-4">
                <a class="btn btn-primary" href="CreateTopicTrainer.php" role="button">Create New Topic</a> 
           </div>
    </div>
</div>
<br>


    <list-item v-for="data in posts" v-bind:data="data">
     {{ data }}
    </list-item>
    

    </div>
    </div>



    

</body>
<script>
    const app = Vue.createApp({
        data() {
            return {
                posts: [] // array of post objects
            }
        },
        created() { // created is a hook that executes as soon as Vue instance is created
            axios.get('./getData/getForumData.php')
            .then(response => {
                // this gets the data, which is an array
                this.posts = response.data
                console.log(response.data);
            })
            .catch(error => {
                this.posts = [{ entry: 'There was an error: ' + error.message }]
                })
                
            }
            
        });
        app.component('list-item', {
            props:['author1', 'authorName1', "content1", "createTime1", "postID1", "replyToID1", "topic1", "data"],
            template:`
            <div class="container-fluid mt-100">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mb-4">
                            <div class="card-header">
                                <div class="media flex-wrap w-100 align-items-center"> 
                                    <div class="media-body ml-3"> <a href="javascript:void(0)" data-abc="true">{{ data.topic }}</a>
                                        <div class="text-muted small">{{ data.authorName }}</div>
                                    </div>
                                    <div class="text-muted small ml-3">
                                        <div>Created Time：<strong>{{ data.createTime }}</strong></div>
                                    </div> 
                            </div>
                            </div>
                            <div class="card-body">
                                <p> {{ data.content }}</p>
                            </div>
                            <div class="card-footer d-flex flex-wrap justify-content-between align-items-center px-0 pt-0 pb-3">
                                <div class="px-4 pt-3"> <a href="javascript:void(0)" class="text-muted d-inline-flex align-items-center align-middle" data-abc="true"> &nbsp; </a></div>
                                <div class="px-4 pt-3"> <a class="btn btn-primary" :href="'ReplyForumTrainer.php?postID='+data.postID+'&authorID='+data.author" role="button">Reply</a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            `
          });
        app.mount('#app');
</script>

</html>
