<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Materials</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(function(){
          $('#nav').load("./common/navbarTrainer.php");
          console.log("click");
        });
    </script>

      <style>
          .footer-basic {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding:40px 0;
        background-color:#ffffff;
        color:#4b4c4d;
        }


        .footer-basic .copyright {
         margin-top:15px;
         text-align:center;
         font-size:13px;
         color:#aaa;
         margin-bottom:0;
        }
  </style>
  <script src="https://unpkg.com/vue@next"></script>  
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

    <div id="nav"></div>

    <!-- picture can edit -->
    <br>
     <div class="container">
        <div class="row mapD">
            <h6 class="border-bottom border-gray pb-2 mb-0">Manage Materials</h6>
        </div>
        <br>
        
        <div id="app">
            <!-- example -->

            <tbodys v-bind:posts="posts"></tbodys>
            
        </div>
        
    </div>
          

        <div class="footer-basic">
        <!-- <footer>
          
            <p class="copyright">LMS - Group 3 © 2021</p>
        </footer> -->
    </div>


</body>
<script>
  const app = Vue.createApp({
    data() {
        return {
            posts: [] // array of post objects
        }
    },
    created() { // created is a hook that executes as soon as Vue instance is created
        axios.get('./getData/getManageMaterialData.php')
        .then(response => {
            // this gets the data, which is an array
            this.posts = response.data
            console.log(response.data);
        })
        .catch(error => {
            this.posts = [{ entry: 'There was an error: ' + error.message }]
        })
        
      }
    
    });
    app.component('tbodys',{
      props:['posts'],
      template:`
      <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                      <th scope="col">Course Code(Run_ID)</th>
                      <th scope="col">Course Name</th>
                      <th scope="col">Section</th>
                      <th scope="col">Material Name</th>
                      <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                <list-item v-for="data in posts" v-bind:cid="data.Course_Code" v-bind:crid="data.Course_Run_ID"  v-bind:mid="data.Material_ID" 
                 v-bind:download="data.Material" v-bind:name="data.Name" v-bind:sid="data.Section_ID" v-bind:cname="data.Course_Name"
                v-bind:link="'./UploadNewMaterialTo.php?cid='+data.Course_Code+'&crid='+data.Course_Run_ID+'&sid='+data.Section_ID+'&mid='+data.Material_ID+'&cname='+data.Course_Name+'&sid='+data.Section_ID"></list-item>
                  </tbody>
            </table>

            <a class="btn btn-outline-primary btn-primary" href="UploadNewMaterial.php" role="button">Upload New Material</a>
      `
    });
    app.component('list-item', {
        props:['cid', 'crid','material','mid','name','sid','link', "cname", "download"],
        template:`
                  <tr>
                      <th scope="row">{{ cid }}-{{ crid }}</th>
                      <th scope="row">{{ cname }}</th>
                      <td scope="row">{{ sid }}</td>
                      <td scope="row"> {{cid}}-{{ cname }}: <br /> Course Run: {{ crid }} <br> Section: {{ sid }}</td>
                      <td><a :href="link"><button class="btn btn-outline-primary align">Update</button></a> <br /> <br />
                        <a :href="download"><button class="btn btn-outline-primary align">Download</button></a> 
                        </td>
                    </tr>
        `
      });
app.mount('#app');
</script>
</html>
