<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- Nav Bar -->
<!-- <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="./home.html"><img src="./img/img.jpg" alt="Logo" style="width: 45px; height:auto;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="./home.html">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="./manageClass.html">Manage Classes</a>
        <a class="nav-item nav-link" href="./manageMaterials.html">Manage Materials</a>
        <a class="nav-item nav-link" href="./manageQuiz.html">Manage Quiz</a>
        
      </div>
      <div class="d-flex justify-content-end">
        <a class="nav-item nav-link" href="#">Manage Quiz</a>
      </div>
    </div>
  </nav> -->
  <link rel="shortcut icon" type="image/x-icon" href="./img/img.jpg" />
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="./home.html"><img src="./img/img.jpg" alt="Logo" style="width: 45px; height:auto;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="./home.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./class.html">Manage Classes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./materials.html">Manage Materials</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./quiz.html">Manage Quiz</a>
          </li>

        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li> -->
      </ul>

      <div class="nav-item my-2 my-lg-0">
        <a class="nav-item nav-link text-success" href="#">Manage Quiz</a>
      </div>
    </div>
  </nav>